# Database
DATABASE_URL="postgresql://username:password@hostname:5432/database"

# Firebase
FIREBASE_PROJECT_ID=""
FIREBASE_PRIVATE_KEY=""
FIREBASE_CLIENT_EMAIL=""

# Server
PORT=3001
NODE_ENV="development"

# Admin
ADMIN_EMAIL="admin@fixedpronos.com"

# CORS
FRONTEND_URL="http://localhost:5173"

# File Upload
UPLOAD_PATH="./uploads"
